
<div class="container">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Department</label>
                </div>
                <select class="custom-select" [(ngModel)]="select_department" (change)="filterEmployeeListByDepartrment(select_department)"  id="inputGroupSelect01">
                  <option selected>Select</option>
                  <option *ngFor="let dept of department_list" [ngValue]="dept">{{dept.department}}</option>
                </select>
            </div>                    
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Experience</label>
                </div>
                <select class="custom-select" [(ngModel)]="select_experience" id="inputGroupSelect01" (change)="filterEmployeeListByExperience(select_experience)">
                  <option selected>Select</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                  <option value="4">Four</option>
                  <option value="5">Five</option>
                </select>
            </div>
        </div>

        <div class="col">
            <!-- Actual search box -->
            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control" [(ngModel)]="search_employee" placeholder="Search by Name" (keyup)="searchEmployeeName(search_employee)">
            </div>
        </div>
    </div>
      
    <table class="employee-table">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Department</th>
                <th>Joining Date</th> 
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employee_list">
                <td>
                    {{ employee.id }}
                </td>
                <td>
                    {{ employee.name }}
                </td>
                <td>
                    {{ employee.department }}
                </td>                 
                <td>
                    {{ employee.joining_date }}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="total-count">
       <span>Total : </span> {{ employee_list.length }}
    </div>

    <div class="no-data" *ngIf="!employee_list.length">
        No Data Found
    </div>
</div>    