
<div class="container">
    <div class="row">
        <!-- -------------------------- Dropdown --------------------------------- -->
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Department</label>
                </div>
                <select class="custom-select" [(ngModel)]="select_department" (change)="filterEmployeeListByDepartrment(select_department)"  id="inputGroupSelect01">
                  <option selected>Select</option>
                  <option *ngFor="let dept of department_list" [ngValue]="dept">{{dept.department}}</option>
                </select>
            </div>                    
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Experience</label>
                </div>
                <select class="custom-select" [(ngModel)]="select_experience" id="inputGroupSelect01" (change)="filterEmployeeListByExperience(select_experience)">
                  <option selected>Select</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                  <option value="4">Four</option>
                  <option value="5">Five</option>
                </select>
            </div>
        </div>

        <div class="col">
            <!-- ------------------------- Actual search box ---------------------------- -->
            <div class="form-group has-search" style="position: relative;">
                <span class="form-control-feedback"></span>
                <fa-icon [icon]="faSearch" style="position: absolute; top: 8px; right: 15px; color: #999;"></fa-icon>
                <input type="text" class="form-control" [(ngModel)]="search_employee" placeholder="Search by Name" (keyup)="searchEmployeeName(search_employee)">
            </div>
        </div>

    </div>
      
    <!-- ---------------------------------- Emplyeee Table ------------------------------ -->
    <table class="employee-table">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Name &nbsp;<span  *ngIf="is_name_sorting" style="cursor: pointer;" (click)="revertSorting()">&#x2191;</span>  <span *ngIf="!is_name_sorting" style="cursor: pointer;" (click)="sortByName()">&#x2193;</span></th>
                <th>Department</th>
                <th>Joining Date  &nbsp; <span  *ngIf="is_joining_date_sorting" style="cursor: pointer;" (click)="revertSorting()">&#x2191;</span> <span *ngIf="!is_joining_date_sorting" style="cursor: pointer;" (click)="sortByJoiningDate()">&#x2193;</span></th> 
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employee_list; let index = index">
                <td>
                    {{ employee.id }}
                </td>
                <td>
                    {{ employee.name }}
                </td>
                <td>
                    {{ employee.department }}
                </td>                 
                <td>
                    {{ employee.joining_date }}
                </td>
                <td>
                    <fa-icon [icon]="faTrash" (click)="removeEmplyeeFromList(index)"></fa-icon>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- -------------------------- Total Count ---------------------------- -->
    <div class="total-count">
       <span>Total : </span> {{ employee_list.length }}
    </div>

    <!-- ---------------------------- No Data Found ------------------------- -->
    <div class="no-data" *ngIf="!employee_list.length">
        No Data Found
    </div>
</div>    