.container{
    margin: 5rem;
}
.employee-table {
    text-align: center;
    width: 100%;
}

.employee-table thead{
    background-color: #f2f2f2;

}

.employee-table td{
    border-bottom: 1px solid #dddddd;
}
.employee-table td,th{
    padding:  10px;
}   
.employee-table td:first-child{
    width: 15%;
}   

.no-data{
    text-align: center;
    padding: 8px;
    border: 1px solid #2d2e8d;
    border-radius: 4px;
    color:  #2d2e8d;
    width: 40%;
    margin: 30px auto;
}
.total-count{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.total-count span{
    font-size: 12px;
    font-weight: bold;
}
fa-icon {
    cursor: pointer;
}